.about {
    width: 100%;
    background-color: #f4f4f4;
}

.about-des {
    max-width: 90%;
    margin: 0 auto;
}
.digital-img{
    width: 90%;
}

.marqu{
    width: 100%;
    height: 6rem;
    border-radius: 100px;
    background-color: #fff;
}