.about {
    width: 100%;
    background-color: #f4f4f4;
}

.about-des {
    max-width: 90%;
    margin: 0 auto;
}
.digital-img{
    width: 90%;
}

.marqu{
    width: 100%;
    height: 8rem;
    border-radius: 100px;
    background-color: #fff;
}
.client-img{
    width: 7rem;
    margin: 0 2rem;
}
@media (width < 768px){
    .what-text{
        order: 2;
    }
    .what-img{
        order: 1;
    }
}

@media (width < 500px){
    .marqu{
        height: 5rem;
    }
    .client-img{
        width: 4.5rem;
    }
}