.about {
    width: 100%;
    background-color: #f4f4f4;
}

.about-des {
    max-width: 90%;
    margin: 0 auto;
}
.digital-img{
    width: 90%;
}
.what-img > img{
    border-radius: 50%;
}

.marqu{
    width: 100%;
    height: 6rem;
    background-color: blue;
}