.swiper{
    width: 100%;
    background-color: #FFFFFF;
}
.hero-image{
    z-index: 1;
}
.hero-text{
    z-index: 2;
    color: #2e343d;
}
.hero-text-div{
    top: 50px;
}
.hero-img-div{
    height: 70%;
}
.car-img{
    width: 100%;
    height: 90dvh;
}
@media(width < 600px){
    .hero-image{
        margin: 2rem 0 0 0;
    }
}