.navbg{
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.logo{
    border-radius: 15px;
    height: 5rem;
}
.nav-btn{
    background-color: #25d366;
    border-radius: 25px;
}
.nav-btn:hover{
    background-color: #09cafa !important;
    transition: all 2s;
}
.nav-link:hover{
    color: red;
}
