.Footer{
    /* height: 50vh; */
    width: 100%;
    background-color: #27262c;
}
.footer{
  width: 80%;
  margin: 0 auto;
}
#Contact > svg{
  padding: 0;
  margin: 0 ;
  width: 40px !important;
  height: 40px !important;
}
.text{
  padding-left: 1rem;
}
.Footerleft> div{
  margin: 0 0 1rem 0 ;
}
.map{
  display: flex;
  align-items: center;
}

.Socialicons > div > svg{
    fill: #fff;
    width: 40px;
    cursor: pointer;
    margin: 0 1rem 0 0;
}

