h1,h2,p,a{
    font-family: "Roboto Slab", serif;
}
::-webkit-scrollbar{
    width: .5rem;
}
::-webkit-scrollbar-track {
    background: #FEFAF6; 
  }
  ::-webkit-scrollbar-thumb {
    background: #DAC0A3; 
    border-radius: 40px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #102C57;
  }
  